<form asp-action ="Index">
<label>Mã:</label>
<input name="Ma" type="text">
<label>Họ và Tên:</label>
<input name="Hoten" type="text">
<label>Tuổi:</label>
<input name="Tuoi" type="text">
<label>Địa chỉ:</label>
<input name="Diachi" type="text">
<input type="submit" value="Gửi gữi liệu">
</form>

<h4>@ViewBag.bbh</h4>