<form asp-action="Index">
    <label>Họ và tên:</label>
    <input name="Tenhs" type="text">
    <label>Lớp Học:</label>
    <input name="Lophs" type="text">
    <label>Tuổi:</label>
    <input name="Tuoi" type="number">
    <input type="submit" value="Gửi">
</form>

<h4>@ViewBag.hfkiu</h4>