<form asp-action="Index">
    <label>Nhà phân phối:</label>
    <input name="Nhaphanphoi" type="text"/>
    <label>Mã phân phối:</label>
    <input name="Maphanphoi" type="text"/>
    <input type="submit" value="Gửi dữ liệu"/>
</form>


<h3>@ViewBag.tb</h3>