<h1>@ViewBag.fgjk</h1>

<form asp-action ="Index">
<label>PersonId:</label>
<input name="PersonId" type="text">
<label>Họ và tên:</label>
<input name="FullName" type="text">
<label>Địa chỉ:</label>
<input name="Address" type="text">
<input type="submit" value="Gửi dữ liệu">
</form>