<form asp-action="Index">
<label>Mã đại lý</label>
<input name="MaDaily" type="text"/>
<label>Tên đại lý</label>
<input name="TenDaily" type="text"/>
<label>Địa chỉ</label>
<input name="Diachi" type="text"/>
<label>Người đại diện</label>
<input name="NguoiDaidien" type="text"/>x
<label>Điện thoại</label>
<input name="Dienthoai" type="text"/>
<input type="submit" value="Gửi dữ liệu"/>
</form>

<h4>@ViewBag.ghj</h4>