@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewBag.hghh </h1>
<form asp-action ="Index">
 <label>Họ Tên:</label>
 <input name="FullName" type="text">
  <input type="submit" value="gửi dữ liệu">
</form> 